/*index css*/
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Police de caractère */
/* Tailwind Default Breakpoints */
/* 
  'sm': {'min': '640px', 'max': '767px'},
  'md': {'min': '768px', 'max': '1023px'},
  'lg': {'min': '1024px', 'max': '1279px'},
  'xl': {'min': '1280px'} 
  */

/* --Mobile-- */

/* Global accross the application*/
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
  @apply text-center text-2xl font-bold md:text-3xl lg:text-4xl;
}

.h2 {
  @apply text-center text-xl font-semibold md:text-2xl;
}

.h3 {
  @apply text-lg font-medium md:text-xl;
}

.button {
  @apply min-w-[100px] bg-[#ec5a13] px-2 py-1 text-white shadow-sm shadow-black md:px-4 md:py-2;
}

.element-desktop {
  @apply hidden;
}

.section {
  @apply flex h-full flex-col items-center py-8;
}

/* pages/*.jsx => main */
.main {
  @apply min-h-screen pb-20 pt-16 sm:pb-16;
}

/* Header.jsx */

.header {
  box-shadow: 0px 0px 10px #ec5a13;
}

.logo {
  @apply left-0 my-8 text-4xl font-bold text-[#ec5a13] sm:text-5xl;
  font-family: "Mooli";
}

/* Carousel.jsx  */
.carousel {
  box-shadow: 0px 0px 10px #ec5a13;
}

/* Home.jsx  */
.home-section {
  box-shadow: 0px 0px 10px #ec5a13;
}

.carousel-text {
  @apply text-center text-sm font-semibold md:text-base lg:text-xl xl:text-2xl;
}

/***** buy pages ******/

.titles {
  @apply relative mb-6 font-semibold md:text-2xl;
}

.titles::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #ec5a13;
  bottom: -10px;
}

/******************************************************************** .modal-filter ***************************************************
  */

.filter-modal {
  @apply w-full max-w-[400px] overflow-y-auto rounded-lg bg-[#fce3d7] pt-[10vh] sm:w-[80%];
  box-shadow: 0px 0px 10px #ec5a13;
}

.filter-modal-content input[type="number"] {
  @apply border-[#ec5a13];
}

.filter-modal-content select {
  @apply w-[90%] border-[#ec5a13];
}

.modal {
  @apply flex flex-col justify-center text-center text-lg lg:text-2xl;
}

/******************************************************************** .modal-filter ***************************************************
  */

.params-command {
  @apply mt-6 grid justify-center gap-y-2 lg:flex lg:flex-row lg:justify-around;
}

.params-command select,
.params-command input,
.params-command textarea {
  @apply border-[#ec5a13];
}
.sell-page {
  @apply flex flex-col gap-5 bg-[#FCE3D7] text-center lg:flex-row;
}

.btn-command {
  @apply bg-[#ec5a13] px-9 py-2 text-center text-white;
}
/* Login.jsx & Register.jsx => form, input-auth, button auth */
.form {
  @apply flex flex-col;
}

.div-input {
  @apply relative w-full sm:w-3/4;
}

.input-auth {
  @apply h-12 w-full rounded-lg border-none bg-[#d9d9d9] pl-12 shadow-sm shadow-black;
}

.error-span {
  @apply max-w-[90%] self-start text-center text-sm font-semibold text-red-500;
}

.button-auth {
  @apply mt-4 rounded-xl bg-[#f5ac89] px-6 py-2 font-medium underline-offset-2 shadow-sm shadow-black hover:underline;
}

/* Modale (Header.jsx) */

.button-switch {
  @apply rounded-xl bg-[#F5F5F5] px-6 py-2 text-center font-medium text-black underline-offset-2 shadow-sm shadow-black hover:underline;
}

/* Toast (Toast.jsx) => toast */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: #333;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}
